body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(../images/bg.jpeg);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.title-container {
    text-align: center;
}

h1 {
    font-size: 96px;
    font-weight: bold;
    margin-bottom: 20px;
}

.social-media-links {
    margin-top: 10px;
}

.social-media-link {
    display: inline-block;
    margin: 0 10px;
}

.social-media-link img {
    width: 40px;
    height: 40px;
    transition: 0.5s;
}

.social-media-link img:hover {
    box-sizing: content-box;
    transform: scale(1.1);
    -webkit-filter: drop-shadow(0 0 10px #ff6600);
    filter: drop-shadow(0 0 10px #ff6600);
}

.buttons {
    margin-top: 20px;
}

.button {
    display: inline-block;
    margin: 10px;
    padding: 10px 0;
    width: 120px;
    text-align: center;
    background-color: transparent;
    color: black;
    font-weight: bold;
    border: 4px solid black;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.5s;
}

.button:hover {
    border: 4px solid #ff6600;
    color: #ff6600;
    transform: scale(1.1);
}

.container-popup {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s;
}

.popup {
    width: 30%;
    height: 50%;
    background: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

#contact-form {
    text-align: left;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.form-row {
    display: block;
    margin-bottom: 10px;
}

.form-column {
    display: inline-block;
    width: 100%;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    font-family: inherit;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    margin-left: -10px;
}

button[type="submit"] {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

button[type="submit"]:hover {
    transform: scale(1.1);
    background-color: #ff6600;
}